
@{
    ViewBag.Title = "Google";
}

<!-- row -->
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Simple Basic Map</h3>
            <div id="gmaps-simple" class="gmaps"></div>
        </div>
    </div>
</div>
<!-- /.row -->

@section scripts {
        
}